.writing{
    font-size: 27px;
    margin: 65px 290px;
    font-weight: 550;
    padding-top: 3px;
    padding-left: 5px;
    margin-top: 20px;
    margin-left: 100px;
}
body{
    background-color: black;
}
img{
    max-width: 80%;
    max-height: 80%;
}
.zhengwen1{
            width: 400px;
            height: 500px;
}
